<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ZohoClients.Books.ZohoClientsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<ZohoClients.Books.ZohoClientsSettings>
   <setting name="OAuthScope" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>ZohoBooks.fullaccess.all</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="OAuthState" serializeAs="String">
    <value>testing</value>
   </setting>
   <setting name="OAuthResponseType" serializeAs="String">
    <value>code</value>
   </setting>
   <setting name="OAuthRedirectUri" serializeAs="String">
    <value>http://www.ccc.ie/r</value>
   </setting>
   <setting name="OAuthAccessType" serializeAs="String">
    <value>Offline</value>
   </setting>
   <setting name="ZohoBooksApiUriBase" serializeAs="String">
    <value>https://www.zohoapis.eubooks/v3</value>
   </setting>
   <setting name="ZohoBooksApiOAuthBaseUri" serializeAs="String">
    <value>https://accounts.zoho.eu/oauth/v2</value>
   </setting>
   <setting name="ClientId" serializeAs="String">
    <value>Client Id</value>
   </setting>
   <setting name="ClientSecret" serializeAs="String">
    <value>Client Secret</value>
   </setting>
  </ZohoClients.Books.ZohoClientsSettings>
	</applicationSettings>
</configuration>